@model AttendRecord03.Models.Record

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AbsenceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AbsenceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AbsenceTimeStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AbsenceTimeStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AbsenceTimeEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AbsenceTimeEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AbsenceHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AbsenceHours)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
