@model IEnumerable<AttendRecord03.Models.Record>

@{
    ViewData["Title"] = "Index";
}

<h1>新增假單</h1>

<p>
    <a asp-action="Create">新增 Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.PersonEmail)
            </th>*@



            <th>

                <form asp-action="ShowSearchResultsPersonName">


                    <div class="form-group">
                        <label for="SearchPhrase" class="control-label"></label>
                        <input name="SearchPhrase" class="form-control" />

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </form>

                @Html.DisplayNameFor(model => model.PersonName)
            </th>
            <th>

                <form asp-action="ShowSearchResultsAbsenceType">


                    <div class="form-group">
                        <label for="SearchPhrase" class="control-label"></label>
                        <input name="SearchPhrase" class="form-control" />

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </form>

                @Html.DisplayNameFor(model => model.AbsenceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceTimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceTimeEnd)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AbsenceHours)
            </th>*@
        <th>
            @*<p> Functions </p>*@
            @*@Html.DisplayNameFor(model => model.AbsenceHours)*@
        </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.PersonEmail)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsenceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsenceTimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsenceTimeEnd)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AbsenceHours)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">修正</a> |
                <a asp-action="Details" asp-route-id="@item.Id">細節</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">刪掉</a>
            </td>
        </tr>
}
    </tbody>
</table>
